<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
<properties>
  <title>Installation</title>
</properties>

<body>
<section name="Installation Overview">
<p>
The high level architecture of PDS Registry and its main components is shown below.
</p>
<img src="../images/registry-harvest.png" style="width:50em;" />
<p>
You can run all components on your laptop or install some or all of them on a server.
</p>

<!-- ============================================================== -->

<subsection name="Java">
<p>
Java is required to run many Registry components and tools such as Harvest, 
Registry Manager, API Server and Elasticsearch.
Only <b>Java 11</b> is supported. Some applications, like Harvest or Registry Manager 
will not run with <b>Java 1.8</b>. To install JDK 11 follow instructions in 
<a href="java.html">Java Installation</a> section.
</p>
</subsection>

<subsection name="Elasticsearch">
<p>
Elasticsearch is required to store and search PDS metadata. 
Elasticsearch can be installed on a developer laptop as described in <a href="es-dev.html">Elasticsearch - Quick Start</a> section.
For production deployment see <a href="../prod/index.html">Production Deployment</a> section.
</p>
</subsection>

<!-- ============================================================== -->

<subsection name="Registry Tools">
<p>
<b>Harvest</b> is a tool to crawl and extract metadata from PDS4 labels.
Extracted metadata is stored in an "intermediate" JSON or XML data files. 
JSON data files can be loaded into Elasticsearch by Registry Manager.
</p>

<p>
<b>Registry Manager</b> is a tool to create Registry indices in Elasticsearch and 
to load, delete and export registry data.
</p>

<p>
The installation of Harvest and Registry Manager is described in <a href="tools.html">Tools</a> section.
</p>
</subsection>

<!-- ============================================================== -->

<subsection name="API Server">
<p>
<b>API Server</b> provides read-only REST APIs to search and access PDS data. 
The APIs are standardized between different PDS nodes.
</p>

<p>
The installation of API Server is described in <a href="api-server.html">API Server</a> section.
</p>
</subsection>

</section>

</body>

</document>
