<?xml version="1.0" encoding="UTF-8"?>

<document>

<properties>
<title>Registry</title>
</properties>

<body>

<section name="Registry Index">

<p>
PDS Registry stores its data in Elasticsearch. You must create registry index in Elasticsearch before loading the data.
</p>

<p>
Registry Manager comes with default Elasticsearch registry schema located in 
<i>&lt;wherever you deployed the package&gt;/registry-$context.get("registry.version")/elastic/registry.json</i>.
You may want to add more fields to default schema or change default configuration.
</p>

<subsection name="Create Elasticsearch Index">

<p>
To create registry index in Elasticsearch from default schema run the following Registry Manager command
</p>
<source>
registry-manager create-registry
</source>

<p>
You can customize <i>create-registry</i> command by passing several parameters.
See <a href="../operate/reg-manager.html">Registry Manager Help</a> for more info.
To see the list of available parameters and basic usage you can also run
<source>
registry-manager create-registry -help
</source>
</p>

<p>
To check that registry collection was created open the following URL in 
a browser: <i>http://localhost:9200/_cat/indices/registry</i> or use <i>curl</i>.
</p>
<source>
curl "http://localhost:9200/_cat/indices/registry"
</source>

<p>
The response should look similar to this. Make sure that index status is "green". 
</p>
<source>
green open registry u05gqL5FSHKhF-lnG_bf_A 1 0   0  0 208b   208b
</source>

</subsection>

<!-- ====================================================== -->

<subsection name="Delete Elasticsearch Index">

<p>
To delete registry index from Elasticsearch run the following command.
<source>
registry-manager delete-registry
</source>
</p>

<p>
See <a href="../operate/reg-manager.html">Registry Manager Help</a> for more info.
</p>

</subsection>

<!-- ====================================================== -->

<subsection name="Customization">
<p>
You may want to add more fields to default schema or change default configuration.
See <a href="../operate/reg-custom.html">Registry Customization</a> for more information.
</p>
</subsection>

<section name="Next Steps">
<p>You might now want to quickly <a href="test.html">test</a> your set up or directly <a href="../operate/index.html">operate</a> it with your own data.</p>

</section>

</section>

</body>

</document>
