<?xml version="1.0" encoding="UTF-8"?>

<document>

<properties>
<title>Registry</title>
</properties>

<body>

<section name="Registry Collection">

<p>
Registry stores its data in Apache Solr. You must create registry collection in Solr before loading the data.
</p>

<p>
Registry manager comes with default registry "configset" located in <i>&lt;wherever you deployed the package&gt;/registry-$context.get("registry.version")/solr/collections/registry</i> 
directory.

The default registry configset consists of two files, <i>managed-schema</i> and <i>solrconfig.xml</i>.
You may want to add more fields to default schema or change default Solr configuration.
</p>

<subsection name="Create Collection">

<p>
To create registry collection in Solr from default configset with one shard and one replica,
run the following Registry Manager command
</p>
<source>
registry-manager create-registry
</source>

<p>
You can customize <i>create-registry</i> command by passing several parameters.
See <a href="../operate/reg-manager.html">Registry Manager Help</a> for more info.
To see the list of available parameters and basic usage you can also run
<source>
registry-manager create-registry -help
</source>
</p>

<p>
To check that registry collection was created open the following URL in 
a browser: <i>http://localhost:8983/solr/registry/schema</i> or use <i>curl</i>
if it is available on your system (Linux, Mac)
<source>
curl 'http://localhost:8983/solr/registry/schema'
</source>
</p>

<p>
You can also go to Solr admin UI at <i>http://localhost:8983/solr/</i> and select 
registry collection from a dropdown on the left as shown below.
</p>
<img src="../images/solr-collection.jpg" width="60%" />
</subsection>

<br/>
<p>
<b>NOTE:</b> If you run Solr in Docker / Podman, make sure that Solr started in cloud mode 
and ZooKeeper port (9983) is mapped. 
</p>
<p>
You can connect to remote ZooKeeper (and Solr) cluster by passing <i>-zkHost</i> parameter.
</p>
<p>
You can also use standard ZooKeeper and Solr tools instead of Registry Manager to create 
and manage registry collection.
</p>

<!-- ====================================================== -->

<subsection name="Delete Collection">

<p>
To delete registry collection from Solr run the following command.
<source>
registry-manager delete-registry
</source>
</p>

<p>
See <a href="../operate/reg-manager.html">Registry Manager Help</a> for more info.
</p>

</subsection>

<!-- ====================================================== -->

<subsection name="Customization">
<p>
You may want to add more fields to default schema or change default Solr configuration.
See <a href="../operate/reg-collection.html">Registry Collection Configuration</a> and
<a href="https://lucene.apache.org/solr/guide/8_4/documents-fields-and-schema-design.html" target="_blank">Solr Documentation</a>
for more information.
</p>
</subsection>

<section name="Next Steps">
<p>You might now want to quickly <a href="test.html">test</a> your set up or directly <a href="../operate/index.html">operate</a> it with your own data.</p>

</section>

</section>

</body>

</document>
