<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Apache Solr</title>
</properties>

<body>
<section name="Apache Solr - Quick Start">
  
<ul>
  <li><a href="#Overview">Overview</a></li>
  <li><a href="#Installation">Installation</a></li>
  <li><a href="#Using_Docker">Using Docker</a></li>
  <li><a href="#Next_Steps">Next Steps</a></li>
  <li><a href="#Common Errors">Common Errors</a></li>
</ul>

<subsection name="Overview">

<p>
PDS Registry requires <a href="https://lucene.apache.org/solr/" target="_blank">Apache Solr</a>.
Solr has to be installed and started in cloud mode before running PDS Registry.

PDS Registry has been tested with Solr version $context.get("solr.version").
</p>

<p>
Solr can run in two modes: 
<ul>
  <li><b>SolrCloud - this is the only mode supported by the PDS EN Registry tools.</b> 
You can learn more about SolrCloud in <a href="../prod/solrcloud.html">this section</a>.</li>
  <li>Standalone (legacy mode) - this is the default mode. Make sure you don't start Solr in this mode by mistake.</li> 
</ul>
</p>

</subsection>

<!-- ======================================================== -->

<subsection name="Installation">

<p>
To install Apache Solr on a developer laptop follow instructions below.
For production deployment, see <a href="../prod/index.html">this section</a>.
</p>

<p>
  <b>Step 1: Download and extract Solr ZIP or TGZ archive</b>
</p>

<p>
Download Solr ${context.get('solr.version')} 
<a href="http://archive.apache.org/dist/lucene/solr/${context.get('solr.version')}/solr-${context.get('solr.version')}.zip">ZIP</a> 
or <a href="http://archive.apache.org/dist/lucene/solr/${context.get('solr.version')}/solr-${context.get('solr.version')}.tgz">TGZ</a> 
from apache archive.
</p>

<p>
Extract the archive to any directory, for example, <i>/opt/${context.get('solr.version')}</i>.
We will call this directory <i>SOLR_HOME</i> throughout the rest of this documentation.
</p>

<p>
  <b>Step 2: Start Solr in cloud mode</b>
</p>

<p>
Go to <i>SOLR_HOME/bin</i> and run <i>solr.cmd</i> on Windows or <i>solr</i> on Unix or Mac.
Pass <b>start</b> and <b>-cloud</b> parameters to start Solr in cloud mode.
</p>

<source>
# Mac
./solr start -cloud

# Windows
solr.cmd start -cloud
</source>

<p>
  <b>Step 3: Check that Solr server started in cloud mode</b>
</p>
<p>
  <b>Option 1: Solr Admin UI</b>
</p>
<p>
Open a web browser and go to <i>http://localhost:8983/solr/</i> or <i>http://127.0.0.1:8983/solr/</i>.
You should see a page similar to this.
</p>
<p>
  <img src="../images/solr-adm1.jpg" style="width:80em;" />
</p>
<p>
Check that <i>Cloud</i> menu item is available on the left. Click it. You should see a page similar to this.
</p>
<p>
  <img src="../images/solr-adm2.jpg" style="width:70em;" />
</p>

<p>
  <b>Option 2: Command-line</b>
</p>
<p>
Go to <i>SOLR_HOME/bin</i> and run following command
</p>
<source>
# Mac
./solr status

# Windows
solr.cmd status
</source>

<p>
You should get a message similar to this
</p>

<source>
Found 1 Solr nodes:

Solr process 55672 running on port 8983
{
"solr_home":"/opt/solr-8.4.1/server/solr",
"version":"8.4.1 832bf13dd9187095831caf69783179d41059d013 - ishan - 2020-01-10 13:40:28",
"startTime":"2020-04-11T01:48:15.071Z",
"uptime":"0 days, 0 hours, 2 minutes, 23 seconds",
"memory":"91.7 MB (%17.9) of 512 MB",
"cloud":{
"ZooKeeper":"localhost:9983",
"liveNodes":"1",
"collections":"0"}}
</source>

</subsection>

<!-- ===================================== -->

<subsection name="Using Docker">
<p>
You can run Solr in Docker or Podman. 

<ul>
<li>Use the official Solr image from DockerHub (solr:8.4).</li>
<li>Map both ZooKeeper (9983) and Solr (8983) ports. You would need access to ZooKeeper to upload PDS registry collection configset.</li>
<li>Do not forget to pass <b>-cloud</b> parameter to start Solr in cloud mode.</li>
</ul>
</p>

<p>
The following example is for CentOS 8 / RHEL 8 which has Podman in the AppStream (standard repo).
If your system has Docker, use <i>docker</i> command with the same parameters.
</p>
<source>
podman run -p 8983:8983 -p 9983:9983 -d --name solr -t solr:8.4 -cloud
</source>
</subsection>

<!-- ======================================================= -->

<subsection name="Next Steps">
<p>
Your Solr server is ready. You should now deploy the <a href="tools.html">tools</a> 
to harvest metadata and manage your registry.
</p>
</subsection>
  
<!-- ======================================================= -->

<subsection name="Common Errors">
<p>
If you could not start Solr or access the Admin UI
</p>

<ul>
  <li>Check logs in <i>SOLR_HOME/server/logs</i> directory.</li>
  <li>If running in a VM or container, make sure that port 8983 is open or mapped.</li>
  <li>Try replacing localhost with the hostname / IP of your machine.</li>
  <li>Check if another application is using port 8983. Make sure you don't have another Solr instance or docker container running.</li>
</ul>

</subsection>

</section>

</body>
</document>
