<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Tools</title>
  </properties>

  <body>
    <section name="Installation">
      <p>This document describes how to install the Registry Application software contained in the <i>${project.artifactId}</i> package.
      </p>
      
      <p>The following topics can be found in this section:</p>

      <ul>
        <li><a href="#Download and unpack the package">Download and unpack the Package</a></li>
        <li><a href="#Configure your environment">Configure your environment</a></li>
        <li><a href="#Next Steps">Next Steps</a></li>
      </ul>
    </section>
    
    <hr/>
    <section name="Download and unpack the package">
      <p>Download the <i>${project.artifactId}</i> package from Github (<a href="https://github.com/NASA-PDS/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.tar.gz" target="_blank">TAR.GZ</a> 
      <a href="https://github.com/NASA-PDS/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.zip" target="_blank">ZIP</a>). The binary distribution is available in identical zip or tar/gzip packages. The installation directory may vary from environment to environment but in UNIX-based environments it is typical to install software packages in the <i>/home/pds</i> directory and in Windows-based environments it is typical to install software packages in the <i>C:\Program Files</i> directory. Unpack the selected binary distribution file with one of the following commands:
      </p>

      <source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
      </source>

      <p>Note: Depending on the platform, the native version of <i>tar</i> may produce an error when attempting to unpack the distribution file because many of the file paths are greater than 100 characters. If available, the GNU version of tar will resolve this problem. If that is not available or cannot be installed, the zipped package will work just fine in a UNIX environment.
      </p>

      <p>The commands above result in the creation of the <i>${project.artifactId}-${project.version}</i> directory with the following directory structure:
      </p>

      <ul>
        <li><b>registry-$context.get("registry.version")/</b><br />
          <p>This directory contains tools which initiate the registry index in Elasticsearch</p>
        </li>
          <li><b>harvest-$context.get("harvest.version")/</b><br />
          <p>This directory contains harvest tool package.</p>
        </li>
        <li><b>test/</b><br />
          <p>This directory contains reference test datasets useful to validate the deployment.</p>
        </li>
        <li><b>LICENSE</b><br/>
          <p>The Apache License, Version 2.0
          </p>
        </li>
        <li><b>README.txt</b><br/>
          <p>A README file with some high level information on the project and how to view more detailed documentation.
          </p>
        </li>
        <li><b>VERSION.txt</b><br/>
          <p>A VERSION file contains the version of the project.
          </p>
        </li>
      </ul>
    </section>
    
    <hr/>
    <section name="Configure your environment">
      <p>The registry resources are located in sub-directory <i>registry-$context.get("registry.version")</i>.</p>
      
      <p>The harvest tools are located in subdirectory <i>harvest-$context.get("harvest.version")</i></p>
      
      <p>To enable these tools, add the following to your PATH:</p>
      
      <p>For a UNIX environment, add the following to your .bash_profile (NOTE: May differ for other Unix shells). Replace $(pwd) as needed for the location of your software.</p>
      <source>
export PATH=${PATH}:/path/to/${project.artifactId}-${project.version}/harvest-$context.get("harvest.version")/bin:/path/to/${project.artifactId}-${project.version}/registry-manager-$context.get("registry.version")/bin
      </source>
      
      <p>For a Windows environment:</p>
      <source>
set PATH=%PATH%;C:\path\to\${project.artifactId}-${project.version}\harvest-$context.get("harvest.version")\bin;C:\path\to\${project.artifactId}-${project.version}\registry-manager-$context.get("registry.version")\bin;%PATH%
      </source>
      
    </section>

    <section name="Next Steps">
      <p>The registry tools are deployed. You can now <a href="initialize.html">initialize</a> your registry.</p>
    </section>
    

  </body>
</document>
