<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Tools</title>
  </properties>

<body>

<section name="Tools Installation">

<ul>
<li><a href="#overview">Overview</a></li>
<li><a href="#download">Download and unpack the Package</a></li>
<li><a href="#configure">Configure your environment</a></li>
<li><a href="#Next Steps">Next Steps</a></li>
</ul>

</section>

<!-- ===================================================================== -->
    
<section id="overview" name="Overview">
<p>
This document describes how to install following PDS Registry tools:
</p>

<ul>

<li><b>Harvest</b> is a command-line tool to crawl and extract metadata from PDS4 labels.
Extracted metadata is stored in an "intermediate" JSON or XML data files. 
JSON data files can be loaded into Elasticsearch by Registry Manager.
</li>

<li>
<b>Registry Manager</b> is a command-line application to create Registry indices in Elasticsearch and 
to load, delete and export registry data.
</li>

<li>
<b>Supplementer</b> is a command-line tool to load supplemental metadata into PDS Registry.
</li>

</ul>
</section>

<!-- ===================================================================== -->
    
<section id="download" name="Download and unpack the package">

<p>
Download <i>${project.artifactId}</i> archive in ZIP or TAR.GZ format from Github (<a href="https://github.com/NASA-PDS/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.tar.gz" target="_blank">tar.gz</a> 
<a href="https://github.com/NASA-PDS/${project.artifactId}/releases/download/v${project.version}/${project.artifactId}-${project.version}-bin.zip" target="_blank">zip</a>). 
</p>

<p>
Extract it to a directory without spaces, such as <i>/home/pds</i>:
</p>

<source>
% unzip ${project.artifactId}-${project.version}-bin.zip
or
% tar -xzvf ${project.artifactId}-${project.version}-bin.tar.gz
</source>

<p>
The following directory will be created: <i>${project.artifactId}-${project.version}</i>.
It has the following structure:
</p>

<ul>
<li><b>harvest-$context.get("harvest.version")/</b><br />
  <p>This directory contains Harvest command-line tool.</p>
</li>
<li><b>registry-$context.get("registry.version")/</b><br />
  <p>This directory contains Registry Manager command-line tool.</p>
</li>
<li><b>supplementer-$context.get("supplementer.version")/</b><br />
  <p>This directory contains Supplementer command-line tool.</p>
</li>
<li><b>test/</b><br />
  <p>This directory contains reference test datasets to validate the deployment.</p>
</li>
<li><b>LICENSE</b><br/>
  <p>The Apache License, Version 2.0</p>
</li>
<li><b>README.txt</b><br/>
<p>
A README file with some high level information on the project and how to view more detailed documentation.
</p>
</li>
<li><b>VERSION.txt</b><br/>
<p>
A VERSION file contains the version of the project.
</p>
</li>
</ul>
</section>


<!-- ===================================================================== -->

<section id="configure" name="Configure your environment">
<p>
Update PATH environment variable to be able to run Harvest and Registry Manager from any directory.
</p>
      
<subsection name="Unix">
<p>
For example, if you are using BASH, add the following to your <i>.bash_profile</i>.
</p>

<source>
# Update path as needed
HARVEST_HOME=/path/to/${project.artifactId}-${project.version}/harvest-$context.get("harvest.version")
REGISTRY_HOME=/path/to/${project.artifactId}-${project.version}/registry-manager-$context.get("registry.version")
export PATH=${PATH}:$HARVEST_HOME/bin:$REGISTRY_HOME/bin
</source>
</subsection>

<subsection name="Windows">
<p>
Open the Start Menu and begin typing "environment". Select "Edit environment variables for your account".
</p>
<img src="../images/win-env1.png" style="width:50em;" />
</subsection>
<p>
Environment Variables dialog will open where you can edit "Path" variable.
</p>
<p>
Add Harvest and Registry Manager "bin" directory to "Path" variable.
</p>
      
</section>

<!-- ===================================================================== -->

<section name="Next Steps">
<p>
The registry tools are deployed. You can now setup <a href="api-server.html">API Server</a>.
</p>
</section>
    
<!-- ===================================================================== -->

 </body>
</document>
