<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>ZooKeeper</title>
</properties>

<body>

<section name="Apache ZooKeeper">

<ul>
  <li><a href="#Running_in_a_VM">Running in a VM</a></li>
  <ul>
    <li><a href="#Single_Node_-_Quick_Start">Single Node - Quick Start</a></li>
    <li><a href="#Firewall_Configuration">Firewall Configuration</a></li>
    <li><a href="#Systemd_Service">Systemd Service</a></li>
  </ul>
  <li><a href="#Running_in_Docker">Running in Docker</a></li>
</ul>


<p>
SolrCloud uses Apache ZooKeeper for cluster configuration and coordination.
Below is a simplified diagram of a production setup with 3 node ZooKeeper cluster 
and multinode Solr cluster. Both ZooKeeper and Solr clusters can be expanded by adding more nodes.
This setup provides fault tolerance and high availability.
</p>

<img src="../images/solr-cluster.jpg" width="35%" />

<p>
It is recommended to run 3 node ZooKeeper cluster in production, but you can start with a single node cluster. 
</p>

<!-- ============================================ -->

<subsection name="Running in a VM">

<subsection name="Single Node - Quick Start">

<p>
In this tutorial we will install ZooKeeper version 3.5.8 in a VM running CentOS 8.
</p>

<p>
<b>Step 1: Install Java</b>
</p>

<p>
ZooKeeper requires Java and JAVA_HOME environment variable. 
The Java version we are using in this tutorial is OpenJDK 11, installed in <i>/opt/jdk-11</i>.
See this <a href="java.html">page</a> if you need help installing Java.
</p>


<p>
<b>Step 2: Install ZooKeeper</b>
</p>

<p>
Download tar.gz file from <a href="https://zookeeper.apache.org/releases.html" target="_none">ZooKeeper release page</a>
and extract it into <i>/opt/zookeeper</i>.
</p>

<p>
<b>Step 3: Create data directory</b>
</p>

<source>
mkdir /var/lib/zookeeper
</source>

<p>
<b>Step 4: Create configuration file <i>/opt/zookeeper/conf/zoo.cfg</i></b>
</p>
<source>
tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
admin.enableServer=false
</source>

<p>
<b>Step 5: Start the server</b>
</p>
<source>
/opt/zookeeper/bin/zkServer.sh start /opt/zookeeper/conf/zoo.cfg
</source>

<p>
<b>Step 6: Connect to the server</b>
</p>
<source>
/opt/zookeeper/bin/zkCli.sh -server 127.0.0.1:2181
</source>

<p>
You should see some log messages, followed by:
</p>

<source>
WatchedEvent state:SyncConnected type:None path:null
[zk: 127.0.0.1:2181(CONNECTED) 0]
</source>

<p>
Try running 'ls' command
</p>

<source>
[zk: 127.0.0.1:2181(CONNECTED) 0] ls /zookeeper
[config, quota]
[zk: 127.0.0.1:2181(CONNECTED) 1]
</source>

<p>
<b>Step 7: Quit the session</b>
</p>

<source>
[zk: 127.0.0.1:2181(CONNECTED) 1] quit
</source>

<p>
<b>Step 8: Stop the server</b>
</p>
<source>
/opt/zookeeper/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
</source>

</subsection>

<!-- ================================================================ -->

<subsection name="Firewall Configuration">

<p>
To open ZooKeeper port (2181), run the following commands
</p>

<source>
firewall-cmd --zone=public --add-port=2181/tcp --permanent
firewall-cmd --reload
firewall-cmd --zone=public --list-ports
</source>

</subsection>

<!-- ================================================================ -->

<subsection name="Systemd Service">

<p>
Apache ZooKeeper project doesn't provide systemd script or prebuilt RPM or DEB installers.
To manually create systemd service, follow the following steps.
</p>

<p>
Step 1: Create <i>zookeeper</i> group and user:
</p>

<source>
groupadd zookeeper
adduser -Mr -g zookeeper zookeeper
</source>

<p>
Step 2: Change file ownership
</p>

<source>
chown zookeeper:zookeeper -R /opt/zookeeper/
chown zookeeper:zookeeper -R /var/lib/zookeeper/
</source>

<p>
Step 3: Create <i>/etc/systemd/system/zookeeper.service</i> file
</p>

<source>
[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Environment=JAVA_HOME=/opt/jdk-11
Type=forking
User=zookeeper
Group=zookeeper
ExecStart=/opt/zookeeper/bin/zkServer.sh start /opt/zookeeper/conf/zoo.cfg
ExecStop=/opt/zookeeper/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
ExecReload=/opt/zookeeper/bin/zkServer.sh restart /opt/zookeeper/conf/zoo.cfg

[Install]
WantedBy=default.target
</source>

<p>
NOTE: ZooKeeper requires JAVA_HOME environment variable. 
You can set it in:
<ul>
  <li>zookeeper.service file (Environment=JAVA_HOME=/opt/jdk-11)</li>
  <li>/opt/zookeeper/bin/zkEnv.sh</li>
  <li>globally for all users in /etc/profile.d/</li>
</ul>
</p>

<p>
<b>Issues:</b>
</p>

<p>
<b>Issue 1:</b>
</p>

<p>
I was getting permission denied errors when starting zookeeper service
</p>
<source>
systemctl start zookeeper
</source>

<p>
Reloading systemd daemon didn't help.
</p>
<source>
systemctl daemon-reload
</source>

<p>
I had to disable SELinux and reboot to make zookeeper service start.
After reenabling SELinux and rebooting again the service still works.
</p>

<p>
<b>Issue 2:</b>
</p>

<p>
After running
</p>
<source>
systemctl stop zookeeper
</source>

<p>
ZooKeeper stops successfully, but if you run
</p>
<source>
systemctl status zookeeper
</source>

<p>
the service status is 'failed'. This issue is not resolved.
</p>

</subsection>
</subsection>

<subsection name="Running in Docker">
</subsection>


</section>


</body>
</document>
