<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
<properties>
  <title>SolrCloud</title>
</properties>

<body>

<section name="SolrCloud">

<p>
<ul>
  <li><a href="#Overview">Overview</a></li>
  <li><a href="#Deployment_Summary">Deployment Summary</a></li>
  <li><a href="#High_Availability_Summary">High Availability Summary</a></li>
  <li><a href="#Shards_and_Replicas">Shards and Replicas</a></li>
</ul>
</p>

<subsection name="Overview">

<p>
SolrCloud is a cluster of Solr servers that provides fault tolerance and high availability.
It uses Apache ZooKeeper for cluster configuration and coordination.
Number of nodes you need, usually depends on amount of data, number of queries, fault tolerance and high availability requirements.
</p>
<p>
There are two main SolrCloud deployment types: single Solr server with embedded ZooKeeper and
multinode deployment with separate Solr and ZooKeeper clusters.
</p>

<!-- ============================== -->

<h4>Single Solr Server with Embedded ZooKeeper</h4>
<p>
This is the simplest configuration of SolrCloud. A single instance of ZooKeeper and Solr server are running in the same JVM.
This setup does not provide any fault tolerance or high availability, and could not be expanded.
This configuration is recommended for development or testing and can be easily installed on a laptop or desktop.
</p>
<img src="../images/solr-cloud-dev.png" style="width:12em;" />

<!-- ============================== -->

<h4>Multinode Cluster</h4>
<p>
This configuration is recommended for production. It provides fault tolerance and high availability.
Both ZooKeeper and Solr clusters can be expanded by adding more nodes.
</p>
<img src="../images/solr-cloud-prod.png" style="width:28em;" />

</subsection>

<!-- ============================== -->

<subsection name="Deployment Summary">

<table>
<tr><th>Deployment type</th><td>Multinode cluster</td><td>Single Solr server with embedded ZooKeeper</td></tr>
<tr><th>Usage</th><td>Production / QA</td><td>Development / QA</td></tr>
<tr><th>Scalability</th><td>Yes</td><td>No</td></tr>
<tr><th>Fault tolerance and high availability</th><td>Yes</td><td>No</td></tr>
<tr><th>Deployment options</th><td>On-prem or cloud: VMs, Kubernetes</td><td>Laptop or desktop: host, VM, docker</td></tr>
</table>
</subsection>

<!-- ============================== -->

<subsection name="High Availability Summary">

<table>
<tr><th>Number of ZooKeeper nodes</th><th>Number of Solr nodes</th><th>Fault tolerance / High availability</th></tr>
<tr><td>1</td><td>1</td><td>No</td></tr>
<tr><td>1</td><td>2+</td><td>ZooKeeper - No, Solr - Yes</td></tr>
<tr><td>3</td><td>2+</td><td>Yes</td></tr>
</table>

</subsection>

<!-- ============================== -->

<subsection name="Shards and Replicas">

<ul>
<li>
A <b>shard</b> is a partition of the collection, containing a subset of documents from the collection.
For example, if "registry" collection has 3 shards and 3,000 documents, then each shard (partition) has about 1,000 documents.
</li>
<li>
A <b>replica</b> is a copy of a shard. For example, if "registry" collection has 3 shards and 2 replicas,
then there are 6 partitions: 3 shards x 2 replicas = 6.
</li>
<li>
Every shard has a <b>leader</b> replica. Leaders are automatically elected.
If a leader goes down, one of the other replicas is automatically elected as the new leader.
</li>
<li>
When a document is sent to a Solr node for <b>indexing</b>, the system first determines which shard that document belongs to, 
and then which node is currently hosting the leader for that shard. 
The document is then forwarded to the current leader for indexing, and the leader forwards the update to all of the other replicas.
</li>
<li>
By default, all replicas (partitions) serve <b>queries</b>.
</li>
</ul>

<p>
You can read more about shards and indexing data in SolrCloud at 
<a href="https://lucene.apache.org/solr/guide/8_6/shards-and-indexing-data-in-solrcloud.html" target="_blank">Solr web site</a>.
</p>

<h4>Examples</h4>

<p>
Below are few example configurations for a collection with different number of shards and replicas in 3 node Solr cluster.
</p>

<p>
<b>1 Shard, 1 Replica</b>
</p>
<img src="../images/shards-1.png" style="width:40em;" />

<p>
<ul>
  <li>Concurrent writes - 1 node</li>
  <li>Concurrent reads - 1 node</li>
  <li>Fault tolerant - No</li>
</ul>
</p>

<p>
<b>1 Shard, 3 Replicas</b>
</p>
<img src="../images/shards-2.png" style="width:40em;" />

<p>
<ul>
  <li>Concurrent writes - 1 node</li>
  <li>Concurrent reads - 3 nodes</li>
  <li>Fault tolerant - Yes (2 nodes could go down)</li>
</ul>
</p>

<p>
<b>3 Shards, 2 Replicas</b>
</p>
<img src="../images/shards-3.png" style="width:40em;" />

<p>
<ul>
  <li>Concurrent writes - 3 nodes</li>
  <li>Concurrent reads - 3 nodes (6 replicas)</li>
  <li>Fault tolerant - Yes (1 node could go down)</li>
</ul>
</p>

</subsection>

</section>

</body>

</document>

