<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Solr - VM</title>
</properties>

<body>

<section name="Running Apache Solr in a VM">

<p>
This document describes installation and configuration of Apache Solr in a VM running CentOS 8.
</p>

<p>
<ul>
  <li><a href="#Create_CentOS_VM">Create CentOS VM</a></li>
  <li><a href="#Install_Java">Install Java</a></li>
  <li><a href="#Install_Solr">Install Solr</a></li>
  <li><a href="#Systemd_Service">Systemd Service</a></li>
  <li><a href="#Firewall_Configuration">Firewall Configuration</a></li>
  <li><a href="#Multi-Node_Cluster">Multi-Node Cluster</a></li>
</ul>
</p>

<!-- ================================================== -->

<subsection name="Create CentOS VM">

<p>
Create new VM and install minimal CentOS 8 server without GUI. Configure static IP.
</p>

<table>
<tr><td>Min RAM</td><td>2GB</td></tr>
<tr><td>Min CPU</td><td>1</td></tr>
<tr><td>Min HDD</td><td>20GB</td></tr>
<tr><td>Operating System</td><td>CentOS 8</td></tr>
<tr><td>NIC</td><td>Static IP</td></tr>
</table>

</subsection>

<!-- ================================================== -->

<subsection name="Install Java">

<p>
Install Java and 'lsof'.
</p>

<source>
yum install java-11-openjdk
yum install lsof
</source>

</subsection>

<!-- ================================================== -->

<subsection name="Install Solr">
<p>
  <b>Step 1: Download and extract Solr tgz archive</b>
</p>

<p>
Download <a href="http://archive.apache.org/dist/lucene/solr/8.5.2/solr-8.5.2.tgz">Solr tgz archive</a>
and extract it into <i>/opt/solr</i> directory. 
You can also extract the archive into <i>/opt/solr-8.5.2</i> directory and then create a soft link
</p>
<source>
cd /opt
ln -s solr-8.5.2 solr
</source>

<p>
  <b>Step 2: Create data directory</b>
</p>
<source>
mkdir /var/lib/solr
</source>

<p>
  <b>Step 3: Edit Solr environment variables</b>
</p>
<p>
Edit ZooKeeper connection string, data directory, and other parameters 
in <i>/opt/solr/bin/solr.in.sh</i> as needed.
</p>
<source>
ZK_HOST="192.168.75.11:2181/solr"
SOLR_DATA_HOME=/var/lib/solr
SOLR_HEAP="1G"
SOLR_ULIMIT_CHECKS=false
</source>

<p>
  <b>Step 4: Create solr group and user</b>
</p>

<source>
groupadd solr
adduser -Mr -g solr solr
</source>

<p>
  <b>Step 5: Change file ownership</b>
</p>

<source>
chown solr:solr -R /opt/solr/
chown solr:solr -R /var/lib/solr/
</source>

</subsection>


<!-- ================================================================ -->

<subsection name="Systemd Service">

<p>
Apache Solr project doesn't provide systemd script or prebuilt RPM installer.
To manually create systemd service, follow the following steps.
</p>

<p>
  <b>Step 1: Create service file</b>
</p>

<p>
Create <i>/etc/systemd/system/solr.service</i> file:
</p>

<source>
[Unit]
Description=Solr Service
Documentation=https://lucene.apache.org/solr/resources.html
Requires=network.target
After=network.target

[Service]
Type=forking
User=solr
Group=solr
ExecStart=/opt/solr/bin/solr start
ExecStop=/opt/solr/bin/solr stop
ExecReload=/opt/solr/bin/solr restart

[Install]
WantedBy=default.target
</source>

<p>
Reload systemd daemon
</p>
<source>
systemctl daemon-reload
</source>

<p>
  <b>Step 2: Fix SELinux context</b>
</p>
<p>
If SELinux is enabled, run the following command to check SELinux context type.
</p>
<source>
ls -Z /opt/solr/bin/solr
</source>

<p>
The context type must be <i>bin_t</i>. 
If the value is different, for example, <i>admin_home_t</i>, run the following command to fix it.
</p>
<source>
restorecon -v /opt/solr/bin/solr
</source>

<p>
  <b>Step 3: Test the service</b>
</p>

<p>
<b>NOTE: Make sure that</b> 
<ul>
  <li>ZooKeeper cluster (or a standalone ZooKeeper server) is running.</li>
  <li>ZooKeeper client port (2181) is open.</li>
  <li><i>ZK_HOST</i> variable in <i>/opt/solr/bin/solr.in.sh</i> file points to your ZooKeeper cluster / server.
(See <a href="solr-vm.html#Install_Solr">Install Solr, Edit Solr environment variables</a> section above).
</li>
  <li>'/solr' znode exists in your ZooKeeper.
(See <a href="zookeeper-vm.html#Znode_for_Solr_Configuration">ZooKeeper installation guide</a>)
</li>
</ul>
</p>

<p>
Start the service:
</p>
<source>
systemctl start solr
</source>

<p>
Check the service status:
</p>
<source>
systemctl status solr
</source>

<p>
Check Solr cluster status
</p>
<source>
/opt/solr/bin/solr status
</source>

<p>
You should get a message similar to this
</p>
<source>
Found 1 Solr nodes:

Solr process 2387 running on port 8983
{
  "solr_home":"/opt/solr/server/solr",
  "version":"8.5.2 384dadd9141cec3f848d8c416315dc2384749814 - mdrob - 2020-05-19 13:23:17",
  "startTime":"2020-06-23T19:45:32.227Z",
  "uptime":"0 days, 0 hours, 44 minutes, 3 seconds",
  "memory":"81.4 MB (%15.9) of 1 GB",
  "cloud":{
    "ZooKeeper":"192.168.75.128:2181/solr",
    "liveNodes":"1",
    "collections":"0"}}
</source>

</subsection>

<!-- ================================================================ -->

<subsection name="Firewall Configuration">

<p>
To open Solr port (8983), run the following commands
</p>

<source>
firewall-cmd --zone=public --add-port=8983/tcp --permanent
firewall-cmd --reload
firewall-cmd --zone=public --list-ports
</source>

</subsection>


<!-- ================================================================ -->

<subsection name="Multi-Node Cluster">

<h4>Adding more nodes to the cluster</h4>
<p>
Create more Solr VMs and repeat installation steps described above for each new VM.
When you start Solr service, the node joins the cluster.
</p>

<h4>Listing / Discovering Live Solr Nodes</h4>
<p>
To list all live Solr nodes in the cluster, connect to ZooKeeper and run <i>'ls /solr/live_nodes'</i> command
</p>
<source>
/opt/zookeeper/bin/zkCli.sh -server 192.168.75.11:2181
...
[zk: 192.168.75.11:2181(CONNECTED) 0] ls /solr/live_nodes
[192.168.75.11:8983_solr, 192.168.75.12:8983_solr]
</source>

<p>
In this example there are 2 Solr nodes 192.168.75.11 and 192.168.75.12 running on port 8983.
</p>

<h4>Using Admin UI</h4>
<p>
To view basic information about Solr nodes, open a web browser and go to any Solr node in the cluster,
e.g., <i>http://192.168.75.11:8983/solr/</i>. Click on 'Cloud' and then 'Nodes' menu on the left.
You will see a page similar to this. 
</p>
<p>
<img src="../images/solr-ui-nodes.png" style="width:80em;" />
</p>
<p>
In this example we already created 'registry' collection and loaded some data.
There are 2 nodes in the cluster, 2 shards and 2 replicas.
</p>
<p>
Total number of documents is 208. Shard 1 has 106 documents and shard 2 has 102.
</p>

</subsection>


</section>


</body>
</document>
