<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>ZooKeeper - VM</title>
</properties>

<body>

<section name="Running Apache ZooKeeper in a VM">

<ul>
  <li><a href="#Quick_Start">Quick Start</a></li>
  <li><a href="#Firewall_Configuration">Firewall Configuration</a></li>
  <li><a href="#Systemd_Service">Systemd Service</a></li>
</ul>


<!-- ============================================ -->

<subsection name="Quick Start">

<p>
In this tutorial we will install ZooKeeper version 3.5.8 in a VM running CentOS 8.
</p>

<p>
  <b>Step 1: Create new CentOS 8 VM</b>
</p>
<p>
Minimum system requirements: 2GB RAM, 1 CPU, 20GB HDD
</p>

<p>
  <b>Step 2: Install Java</b>
</p>

<source>
yum install java-11-openjdk
</source>

<p>
  <b>Step 3: Install ZooKeeper</b>
</p>

<p>
Unfortunately CentOS / RHEL 8 repositories or Apache ZooKeeper project do not have prebuilt RPM installer.
Download tar.gz file from <a href="https://zookeeper.apache.org/releases.html" target="_none">ZooKeeper release page</a>
and extract it into <i>/opt/zookeeper</i>.
</p>

<p>
  <b>Step 4: Create data directory</b>
</p>

<source>
mkdir /var/lib/zookeeper
</source>

<p>
  <b>Step 5: Create configuration file <i>/opt/zookeeper/conf/zoo.cfg</i></b>
</p>
<source>
tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
admin.enableServer=false
</source>

<p>
  <b>Step 6: Start the server</b>
</p>
<source>
/opt/zookeeper/bin/zkServer.sh start /opt/zookeeper/conf/zoo.cfg
</source>

<p>
  <b>Step 7: Connect to the server</b>
</p>
<source>
/opt/zookeeper/bin/zkCli.sh -server 127.0.0.1:2181
</source>

<p>
You should see some log messages, followed by:
</p>

<source>
WatchedEvent state:SyncConnected type:None path:null
[zk: 127.0.0.1:2181(CONNECTED) 0]
</source>

<p>
Try running 'ls' command
</p>

<source>
[zk: 127.0.0.1:2181(CONNECTED) 0] ls /zookeeper
[config, quota]
[zk: 127.0.0.1:2181(CONNECTED) 1]
</source>

<p>
  <b>Step 8: Quit the session</b>
</p>

<source>
[zk: 127.0.0.1:2181(CONNECTED) 1] quit
</source>

<p>
  <b>Step 9: Stop the server</b>
</p>
<source>
/opt/zookeeper/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
</source>

</subsection>

<!-- ================================================================ -->

<subsection name="Firewall Configuration">

<p>
To open ZooKeeper port (2181), run the following commands
</p>

<source>
firewall-cmd --zone=public --add-port=2181/tcp --permanent
firewall-cmd --reload
firewall-cmd --zone=public --list-ports
</source>

</subsection>

<!-- ================================================================ -->

<subsection name="Systemd Service">

<p>
Apache ZooKeeper project doesn't provide systemd script or prebuilt RPM installer.
To manually create systemd service, follow the following steps.
</p>

<p>
  <b>Step 1: Create zookeeper group and user</b>
</p>

<source>
groupadd zookeeper
adduser -Mr -g zookeeper zookeeper
</source>

<p>
  <b>Step 2: Change file ownership</b>
</p>

<source>
chown zookeeper:zookeeper -R /opt/zookeeper/
chown zookeeper:zookeeper -R /var/lib/zookeeper/
</source>

<p>
  <b>Step 3: Create service file</b>
</p>

<p>
Create <i>/etc/systemd/system/zookeeper.service</i> file:
</p>

<source>
[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
User=zookeeper
Group=zookeeper
ExecStart=/opt/zookeeper/bin/zkServer.sh start /opt/zookeeper/conf/zoo.cfg
ExecStop=/opt/zookeeper/bin/zkServer.sh stop /opt/zookeeper/conf/zoo.cfg
ExecReload=/opt/zookeeper/bin/zkServer.sh restart /opt/zookeeper/conf/zoo.cfg
SuccessExitStatus=143

[Install]
WantedBy=default.target
</source>

<p>
  <b>Step 4: Test the service</b>
</p>

<p>
Start the service:
</p>
<source>
systemctl start zookeeper
</source>

<p>
Check the status:
</p>
<source>
systemctl status zookeeper
</source>

<p>
Stop the service:
</p>
<source>
systemctl stop zookeeper
</source>

<p>
Check the status:
</p>
<source>
systemctl status zookeeper
</source>

</subsection>

</section>


</body>
</document>
