<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
<properties>
  <title>Elasticsearch Security</title>
</properties>

<body>

<section name="Elasticsearch Security">

<p>
<ul>
  <li><a href="basic">Enable SSL and Basic Authentication</a></li>
</ul>
</p>

<subsection name="Enable SSL and Basic Authentication" id="basic">

<p>
<b>Step 1: Generate server keys and self-signed certificate</b>
</p>

<p>
Create <i>/etc/elasticsearch/ssl</i> directory. Make sure it has the following permissions and ownership.
</p>
<source>
drwxr-sr-x. 2 root elasticsearch    43 Sep  3 20:50 ssl
</source>

<p>
Generate keys and self-signed certificate in <i>/etc/elasticsearch/ssl</i> directory.
</p>
<source>
openssl req -x509 -newkey rsa:4096 -keyout es-key.pem -out es-cert.pem \
  -days 365 -subj '/CN=*.test.local' -nodes
</source>

<p>
Make sure it has the following permissions and ownership.
</p>
<source>
-rw-r--r--. 1 root elasticsearch 1814 Sep  3 20:32 es-cert.pem
-rw-r--r--. 1 root elasticsearch 3272 Sep  3 20:32 es-key.pem
</source>

<p>
<b>Step 2: Edit Elasticsearch configuration file</b>
</p>

<p>
Add following properties in <i>/etc/elasticsearch/elasticsearch.yml</i>
</p>

<source>
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: "/etc/elasticsearch/ssl/es-key.pem"
xpack.security.http.ssl.certificate: "/etc/elasticsearch/ssl/es-cert.pem"
</source>

<p>
<b>Step 3: Restart Elasticsearch</b>
</p>

<source>
systemctl stop elasticsearch
systemctl start elasticsearch
</source>

<p>
<b>Step 4: Setup passwords for built-in users</b>
</p>

<p>
Run the following command and enter passwords for built-in users.
</p>
<source>
/usr/share/elasticsearch/bin/elasticsearch-setup-passwords interactive
</source>

<p>
<b>Step 5: Test SSL and basic authentication</b>
</p>

<p>
Test HTTPS connection and basic authentication. 
Use built-in admin user "elastic" and the password you set in step 4.
</p>

<source>
curl -k -u elastic https://es1.test.local:9200
</source>

</subsection>

</section>

</body>
</document>
