<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Operation</title>
    <author email="Paul.Ramirez@jpl.nasa.gov">Paul Ramirez</author>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
    <author email="Sean.Hardman@jpl.nasa.gov">Sean Hardman</author>
  </properties>

  <body>
    <section name="Test your setup">
    
    <p>
    To test your deployment we will ingest a few datasets in your new registry.
    </p>
    
    <p> This operation is done in 2 steps:
	    <ul>
	    	<li>convert pds records into registry records, with command <i>harvest</i></li>
	    	<li>push the registry record to the server, with command <i>registry-mgr</i></li>
	    </ul>
	    
	    
    </p>
    <subsection name="harvest">
	    <p>To run this command we need a <b>configuration</b> file to reference the data source. </p>
	    <p>Edit the example file provided in <i>harvest-$context.get("harvest.version")/conf/harvest/examples/harvest-policy-master.xml</i></p>
	    <p>Update the following section with the path of the test dataset in the package, you may use your own dataset, that is even better:</p>
	    
	    <source>
<![CDATA[
<!-- 
Specify the top level directory / bundle for Harvest to crawl for products to register 
-->
<directories>
  <path>{absolute path to the package}/test/</path>
  <fileFilter>
    <include>*.xml</include>
  </fileFilter>
</directories>
]]>
	    </source>
	    <p>See details on the harvest configuration on <a href="https://pds-engineering.jpl.nasa.gov/development/pds4/current/harvest/operate-pds4/index.html#Minimal_Config">https://pds-engineering.jpl.nasa.gov/development/pds4/current/harvest/operate-pds4/index.html#Minimal_Config</a></p>
	    
	    <p>We now need an <b>output directory</b> where the registry records will be created, for example, on unix, <i>~/tmp</i></p>
	    
	    
	    <p>At last, <b>run</b> the harvest command</p>
	    <source>
harvest -c &lt;path to the package&gt;/harvest-$context.get("harvest.version")/conf/harvest/examples/harvest-policy-master.xml -o ~/tmp
	    </source>
    
	</subsection>
	
	<subsection name="registry-mgr">
		<p>To push the newly created registry record to the server, simply run (~/tmp is the path where the input records created in the previous step are):</p>
		<source>
registry-mgr ~/tmp
		</source>
	</subsection>
	
	<subsection name="query the registry">
		<p>Open in your browser: <a href="http://localhost:8983/solr/registry/select?q=*%3A*">http://localhost:8983/solr/registry/select?q=*%3A*</a></p>
	</subsection>
	
	
	<subsection name="reset your registry">
		<p>To reset your registry and other common operations, see documentation on <a href="https://nasa-pds-incubator.github.io/registry/operate/index.html#Common_Operations">https://nasa-pds-incubator.github.io/registry/operate/index.html#Common_Operations</a></p>	
    </subsection>
	
        
    </section>
    <hr />
    <section name="Advanced operations">
    
    <p>Registry operations are documented on <a href="https://nasa-pds-incubator.github.io/registry/operate/index.html">https://nasa-pds-incubator.github.io/registry/operate/index.html</a></p>
    
    <p>Harvest pds3 labels as described on <a href="https://nasa-pds-incubator.github.io/harvest/operate-pds3/index.html">https://nasa-pds-incubator.github.io/harvest/operate-pds3/index.html</a></p>
    
    <p>Harvest pds4 labels as described on <a href="https://nasa-pds-incubator.github.io/harvest/operate-pds4/index.html">https://nasa-pds-incubator.github.io/harvest/operate-pds4ß/index.html</a></p>

    
    </section>
  </body>
</document>
