<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Registry Collection</title>
</properties>

<body>

<section name="Registry Collection Overview">
<p>
PDS Registry stores its data in Apache Solr collection called "registry".
Registry Manager comes with default "configset", consisting of two files, <i>managed-schema</i> 
and <i>solrconfig.xml</i>, located in <i>REGISTRY_MANAGER_HOME/solr/collections/registry</i> folder.
<i>REGISTRY_MANAGER_HOME</i> is a directory where you installed Registry Manager, for example
<i>/home/pds/registry</i>.
</p>
<p>
Default <i>managed-schema</i> file defines few common fields such as lid, vid, lidvid, title, 
product_class, internal refrences and basic file information, such as file name, type, size, and MD5 hash.
Those are the fields extracted from PDS4 product labels by Harvest by default.
</p>
<p>
Lidvid is a primary key. If you load the same Harvest-generated "intermediate" data file multiple times,
existing Solr documents will be replaced with new documents with the same lidvid. 
<source>
&lt;field name="lidvid" type="string" indexed="true" stored="true" required="true" multiValued="false" /&gt;
&lt;uniqueKey&gt;lidvid&lt;/uniqueKey&gt;
</source>
</p>
<p>
When you load data, unknown (undefined) fields are ignored
<source>
&lt;dynamicField name="*" type="ignored" /&gt;
&lt;fieldType name="ignored" stored="false" indexed="false" multiValued="true" class="solr.StrField" /&gt;
</source>
</p>
</section>

<!-- ========================================================== -->
<section name="Adding More Fields">

<p>
Detailed information about Solr fields and schema design is available at 
<a href="https://lucene.apache.org/solr/guide/8_4/documents-fields-and-schema-design.html" target="_blank">Solr website</a>.
</p>

<p>
You can define new fields in <i>managed-schema</i> file of the registry configset.
The following XML fragment will add <i>start_date_time</i> and <i>stop_date_time</i> fields to the registry collection.
<source>
&lt;field name="start_date_time" type="pdate" indexed="true" stored="true" multiValued="false"/&gt;
&lt;field name="stop_date_time" type="pdate" indexed="true" stored="true" multiValued="false"/&gt;
</source>
</p>

<p>
To apply the changes you have to delete the registry collection and all its data! 
<source>
registry-manager delete-registry
</source>
</p>

<p>
and then recreate the collection again.
<source>
registry-manager create-registry
</source>
</p>

<p>
If you copied default configset from <i>REGISTRY_MANAGER_HOME/solr/collections/registry</i> to some other
directory, for example <i>/tmp/reg</i>, pass <i>-configDir</i> flag to Registry Manager.
<source>
registry-manager create-registry -configDir /tmp/reg
</source>
</p>

<p>
You can also add and delete fields dynamically by calling Solr Schema API. For example,
<source>
curl http://localhost:8983/solr/registry/schema -X POST -H 'content-type:application/json' --data-binary '{
  "add-field": {
     "name":"start_date_time",
     "type":"pdate",
     "indexed":true,
     "stored":true,
     "multiValued":false
  }
}'
</source>
</p>
<p>
When you add fields dynamically, you can keep your existing data, but old documents will not have new fields.
</p>
<p>
It is recommended to edit <i>managed-schema</i> file to simplify deployment and to keep track of your changes.
</p>
</section>

</body>
</document>
