<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Registry Manager Operation</title>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
  </properties>

<body>
<section name="Registry Manager Overview">

<p>
Registry Manager is a command-line tool which can perform following tasks:
<ul>
  <li>Create and delete registry collection.</li>
  <li>Generate or update Solr schema from one or more PDS data dictionaries.</li>
  <li>Load Solr documents generated by Harvest tool into registry collection.</li>
  <li>Delete data from registry collection by lidvid, lid, package id.</li>
  <li>Export files from registry BLOB storage.</li>
</ul>
</p>

<p>
Registry Manager executable scripts for Windows (<i>registry-manager.bat</i>) and Linux / Mac (<i>registry-manager</i>) 
are located in <i>bin</i> sub-folder of the installation directory (e.g., <i>/home/pds/registry/</i>).
</p>

<p>
To see a list of Registry Manager commands and basic usage information (shown below), 
run <i>registry-manager</i> without any parameters.
<source>
Usage: registry-manager &lt;command&gt; &lt;options&gt;

Commands:

Registry:
  load-data        Load data into registry collection
  delete-data      Delete data from registry collection
  export-file      Export a file from blob storage
  create-registry  Create registry collection
  delete-registry  Delete registry collection and all its data

Search:
  generate-solr-schema  Generate Solr schema from one or more PDS data dictionaries
  update-solr-schema    Update Solr schema from one or more PDS data dictionaries

Options:
  -help  Print help for a command

Pass -help after any command to see command-specific usage information, for example,
  registry-manager load-data -help
</source>
</p>

<p>
To print command-specific usage information, pass <i>-help</i> parameter after any command.
The basic usage information and options for <i>delete-data</i> command are shown below.
<source>
registry-manager delete-data -help
</source>
</p>
<p>
<source>
Usage: registry-manager delete-data &lt;options&gt;

Delete data from registry collection

Options:
  -lidvid &lt;id&gt;     Delete data by lidvid
  -lid &lt;id&gt;        Delete data by lid
  -packageId &lt;id&gt;  Delete data by package id
  -all             Delete all data
  -solrUrl &lt;url&gt;   Solr URL. Default is http://localhost:8983/solr
  -zkHost &lt;host&gt;   ZooKeeper connection string, &lt;host:port>[,&lt;host:port&gt;][/path]
                   For example, zk1:2181,zk2:2181,zk3:2181/solr

</source>
</p>

</section>

<!-- ===================================================== -->

<section name="Solr or ZooKeeper Connection">

<p>
To execute commands, Registry Manager has to connect to either ZooKeeper cluster or a Solr server node.
By default it connects to:
<ul>
  <li>Embedded ZooKeeper bundled with Solr at <i>localhost:9983</i> for <i>create-registry</i> and <i>delete-registry</i> commands,</li>
  <li>Solr node at <i>http://localhost:8983/solr</i> for other commands.</li>
</ul>
</p>

<p>
To customize this behavior use <i>-solrUrl</i> or <i>-zkHost</i> parameters.
</p>
</section>

<!-- ===================================================== -->

<section name="Commands">

<subsection name="Create Registry Collection">
<p>
To create registry collection in Solr run <i>create-registry</i> command.
<source>
Usage: registry-manager create-registry &lt;options&gt;

Create registry collection

Optional parameters:
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port&gt;[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
                      Default value is localhost:9983
  -configDir &lt;dir&gt;    Configuration directory with registry collection configuration files
                      Default value is REGISTRY_MANAGER_HOME/solr/collections/registry
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
  -shards &lt;number&gt;    Number of shards for registry collection. Default value is 1
  -replicas &lt;number&gt;  Number of replicas for registry collection. Default value is 1
</source>
</p>
<p>
This command is described in <a href="../install/initialize.html">Registry Installation</a> section.
</p>
</subsection>

<!-- ======================================================================= -->

<subsection name="Delete Registry Collection">
<p>
To delete registry collection from Solr run <i>delete-registry</i> command.
<source>
Usage: registry-manager delete-registry &lt;options&gt;

Delete registry collection and all its data

Optional parameters:
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port&gt;[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
                      Default value is localhost:9983
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
</source>
</p>
<p>
This command is described in <a href="../install/initialize.html">Registry Installation</a> section.
</p>
</subsection>

<!-- ======================================================================= -->

<subsection name="Load Data">
<p>
To load Solr documents generated by Harvest tool, use load-data command:
<source>
Usage: registry-manager load-data &lt;options&gt;

Load data into registry collection

Required parameters:
  -filePath &lt;path&gt;    An XML file or a directory to load.
Optional parameters:
  -solrUrl &lt;url&gt;      Solr URL. Default is http://localhost:8983/solr
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port&gt;[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
</source>
</p>
<p>
For example, to load data from <i>/home/pds/harvest/solr/solr-docs.xml</i> file use the following command.
<source>
registry-manager load-data -filePath /home/pds/harvest/solr/solr-docs.xml
</source>
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Delete Data">
<p>
You can delete documents from Registry by lidvid, lid or package id (Harvest run id). 
You can also delete all documents.
<source>
Usage: registry-manager delete-data &lt;options&gt;

Delete data from registry collection

Required parameters, one of:
  -lidvid &lt;id&gt;     Delete data by lidvid
  -lid &lt;id&gt;        Delete data by lid
  -packageId &lt;id&gt;  Delete data by package id
  -all             Delete all data
Optional parameters:
  -solrUrl &lt;url&gt;      Solr URL. Default is http://localhost:8983/solr
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port>[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
</source>
</p>
<p>
Below are few examples.
<source>
registry-manager delete-data -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1
registry-manager delete-data -lid urn:nasa:pds:context:target:asteroid.4_vesta
registry-manager delete-data -packageId 8d8ae96d-044e-473d-a278-62635b1c5977
registry-manager delete-data -all
</source>
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Export File">
<p>
To export a file from embedded BLOB storage by lidvid, run <i>export-file</i> command:
<source>
Usage: registry-manager export-file &lt;options&gt;

Export a file from blob storage

Required parameters:
  -lidvid &lt;id&gt;      Lidvid of a file to export from blob storage.
  -filePath &lt;path&gt;  A path to a file to write.
Optional parameters:
  -solrUrl &lt;url&gt;      Solr URL. Default is http://localhost:8983/solr
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port&gt;[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
</source>
</p>

<p>
This command will only work, if file BLOBs were generated by Harvest.
An example is shown below.
<source>
registry-manager export-file -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1 -filePath /tmp/4_vesta.xml
</source>
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Generate Solr schema from PDS data dictionary">
<p>
To generate Solr schema from a PDS data dictionary, run <i>generate-solr-schema</i> command:
</p>
<p>
<source>
Usage: registry-manager generate-solr-schema &lt;options&gt;

Generate Solr schema from one or more PDS data dictionaries.

Required parameters:
  -config &lt;path&gt;  Configuration file.
Optional parameters:
  -outDir &lt;dir&gt;   Output directory for Solr schema file. Default value is '/tmp/registry'.
  -log &lt;file&gt;     Log file. Default is /tmp/registry/registry.log.
  -v &lt;level&gt;      Logger verbosity: 0=Debug, 1=Info (default), 2=Warning, 3=Error.
</source>
</p>
<p>
This command is described in <a href="reg-custom.html">Registry Customization</a> section.
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Update Solr schema from PDS data dictionary">
<p>
To update Solr schema from a PDS data dictionary, run <i>update-solr-schema</i> command:
</p>
<p>
<source>
Usage: registry-manager update-solr-schema &lt;options&gt;

Update Solr schema from one or more PDS data dictionaries.

Required parameters:
  -config &lt;path&gt;      Configuration file.
Optional parameters:
  -solrUrl &lt;url&gt;      Solr URL. Default is http://localhost:8983/solr
  -zkHost &lt;host&gt;      ZooKeeper connection string, &lt;host:port&gt;[,&lt;host:port&gt;][/path]
                      For example, zk1:2181,zk2:2181,zk3:2181/solr
  -collection &lt;name&gt;  Solr collection name. Default value is 'registry'
  -log &lt;file&gt;         Log file. Default is /tmp/registry/registry.log.
  -v &lt;level&gt;          Logger verbosity: 0=Debug, 1=Info (default), 2=Warning, 3=Error.

</source>
</p>
<p>
This command is described in <a href="reg-custom.html">Registry Customization</a> section.
</p>

</subsection>

<!-- ======================================================================= -->

</section>


</body>
</document>
