<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Registry Manager Operation</title>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
  </properties>

<body>
<section name="Registry Manager Overview">

<p>
<ul>
  <li><a href="#Overview">Overview</a></li>
  <li><a href="#RegCommands">Registry Management Commands</a></li>
  <ul>
    <li><a href="#CreateReg">Create Registry</a></li>
    <li><a href="#DeleteReg">Delete Registry</a></li>
    <li><a href="#UpdateSchema">Update Registry schema</a></li>
  </ul>
  <li><a href="#DataCommands">Data Management Commands</a></li>
    <ul>
    <li><a href="#Load">Load Data</a></li>
    <li><a href="#Delete">Delete Data</a></li>
    <li><a href="#Export">Export Data</a></li>
    <li><a href="#ExportFile">Export File (BLOB)</a></li>
    <li><a href="#ArchiveStatus">Update Archive Status</a></li>
  </ul>
  <li><a href="#DDCommands">Data Dictionary Commands</a></li>
    <ul>
    <li><a href="#LoadDD">Load Data</a></li>
    <li><a href="#DeleteDD">Delete Data</a></li>
    <li><a href="#ExportDD">Export Data</a></li>
  </ul>
</ul>
</p>

<subsection name="Overview">

<p>
Registry Manager is a command-line tool which can perform following tasks:
<ul>
  <li>Create and delete registry indices in Elasticsearch.</li>
  <li>Load JSON data files generated by Harvest tool into Registry.</li>
  <li>Delete data from registry by lidvid, lid, package id.</li>
  <li>Export files from registry BLOB storage.</li>
  <li>Manage data dictionary.</li>
</ul>
</p>
<p>
<b>Note:</b> for elasticsearch available though defaults http ports (80, 443), explicit port is required whenever the -es option is used. e.g. `-es https//host:443` 
</p>

<p>
Registry Manager executable scripts for Windows (<i>registry-manager.bat</i>) and Linux / Mac (<i>registry-manager</i>) 
are located in <i>bin</i> sub-folder of the installation directory (e.g., <i>/home/pds/registry/</i>).
</p>

<p>
To see a list of Registry Manager commands run <i>registry-manager</i> without any parameters.
</p>

<p>
To print command-specific usage information, pass <i>-help</i> parameter after any command.
For example, to print usage information for <i>delete-data</i> command, run
</p>

<source>
registry-manager delete-data -help
</source>

<p>
<source>
Usage: registry-manager delete-data &lt;options&gt;

Delete data from registry index

Required parameters, one of:
  -lidvid &lt;id&gt;      Delete data by lidvid
  -lid &lt;id&gt;         Delete data by lid
  -packageId &lt;id&gt;   Delete data by package id
  -all              Delete all data
Optional parameters:
  -auth &lt;file&gt;      Authentication config file
  -es &lt;url&gt;         Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;     Elasticsearch index name. Default is 'registry'
</source>
</p>

</subsection>

</section>


<!-- ===================================================== -->

<section name="Registry Management Commands" id="RegCommands">

<subsection name="Create Registry Index" id="CreateReg">
<p>
To create registry index in Elasticsearch run <i>create-registry</i> command.
</p>

<source>
Usage: registry-manager create-registry &lt;options&gt;

Create registry index

Optional parameters:
  -auth &lt;file&gt;         Authentication config file
  -es &lt;url&gt;            Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;        Elasticsearch index name. Default is 'registry'
  -schema &lt;path&gt;       Elasticsearch index schema (JSON file)
                       Default value is $REGISTRY_MANAGER_HOME/elastic/registry.json
  -shards &lt;number&gt;     Number of shards (partitions) for registry index. Default is 1
  -replicas &lt;number&gt;   Number of replicas (extra copies) of registry index. Default is 0
</source>

<p>
This command is described in <a href="../install/initialize.html">Registry Installation</a> section.
</p>
</subsection>

<!-- ======================================================================= -->

<subsection name="Delete Registry Index" id="DeleteReg">
<p>
To delete registry index from Elasticsearch run <i>delete-registry</i> command.
</p>

<source>
Usage: registry-manager delete-registry &lt;options&gt;

Delete registry index and all its data

Optional parameters:
  -auth &lt;file&gt;    Authentication config file
  -es &lt;url&gt;       Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;   Elasticsearch index name. Default is 'registry'
</source>

<p>
This command is described in <a href="../install/initialize.html">Registry Installation</a> section.
</p>
</subsection>

<!-- ======================================================================= -->

<subsection name="Update Registry schema" id="UpdateSchema">
<p>
To update Elasticsearch schema from a PDS data dictionary, run <i>update-schema</i> command:
</p>

<p>
<source>
Usage: registry-manager update-schema &lt;options&gt;

Update Elasticsearch schema

Required parameters:
  -file &lt;path&gt;     A file with a list of field names
Optional parameters:
  -auth &lt;file&gt;     Authentication config file
  -es &lt;url&gt;        Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;    Elasticsearch index name. Default is 'registry'
</source>
</p>

<p>
This command is described in <a href="reg-custom.html">Registry Customization</a> section.
</p>

</subsection>

<!-- ======================================================================= -->

</section>

<section name="Data Management Commands" id="DataCommands">

<subsection name="Load Data" id="Load">
<p>
To load JSON data files generated by Harvest tool, use <i>load-data</i> command:
</p>

<source>
Usage: registry-manager load-data &lt;options&gt;

Load data into registry index

Required parameters:
  -dir &lt;path&gt;           Harvest output directory to load   
Optional parameters:
  -auth &lt;file&gt;          Authentication config file
  -es &lt;url&gt;             Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;         Elasticsearch index name. Default is 'registry'
  -updateSchema &lt;y/n&gt;   Update registry schema. Default is 'yes'
</source>

<p>
For example, to load data from <i>/home/pds/harvest/out/</i> file use the following command.
<source>
registry-manager load-data -dir /home/pds/harvest/out/
</source>
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Delete Data" id="Delete">
<p>
You can delete documents from Registry by lidvid, lid or package id (Harvest run id). 
You can also delete all documents.
</p>

<source>
Usage: registry-manager delete-data &lt;options&gt;

Delete data from registry index

Required parameters, one of:
  -lidvid &lt;id&gt;      Delete data by lidvid
  -lid &lt;id&gt;         Delete data by lid
  -packageId &lt;id&gt;   Delete data by package id
  -all              Delete all data
Optional parameters:
  -auth &lt;file&gt;      Authentication config file
  -es &lt;url&gt;         Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;     Elasticsearch index name. Default is 'registry'
</source>

<p>
Below are few examples.
</p>
<source>
registry-manager delete-data -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1
registry-manager delete-data -lid urn:nasa:pds:context:target:asteroid.4_vesta
registry-manager delete-data -packageId 8d8ae96d-044e-473d-a278-62635b1c5977
registry-manager delete-data -all
</source>

</subsection>

<!-- ======================================================================= -->

<subsection name="Export Data" id="Export">
<p>
You can export documents from Registry by lidvid or package id (Harvest run id). 
You can also export all documents.
</p>

<source>
Usage: registry-manager export-data &lt;options&gt;

Export data from registry index

Required parameters:
  -file &lt;path&gt;      Output file path
  -lidvid &lt;id&gt;      Export data by lidvid
  -packageId &lt;id&gt;   Export data by package id
  -all              Export all data
Optional parameters:
  -auth &lt;file&gt;      Authentication config file
  -es &lt;url&gt;         Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;     Elasticsearch index name. Default is 'registry'
</source>

<p>
Below are few examples.
</p>
<source>
registry-manager export-data -file /tmp/mydata.xml -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1
registry-manager export-data -file /tmp/mydata.xml -packageId 8d8ae96d-044e-473d-a278-62635b1c5977
registry-manager export-data -file /tmp/mydata.xml -all
</source>

</subsection>


<!-- ======================================================================= -->

<subsection name="Update Archive Status" id="ArchiveStatus">
<p>
When documents are loaded into the Registry, their archive status is not set.
You can update archive status of one or more documents by lidvid or package id (Harvest run id). 
</p>

<source>
Usage: registry-manager set-archive-status &lt;options&gt;

Set product archive status

Required parameters:
  -status &lt;status&gt;   One of the following values:
     ARCHIVED
     ARCHIVED_ACCUMULATING
     IN_LIEN_RESOLUTION
     IN_LIEN_RESOLUTION_ACCUMULATING
     IN_PEER_REVIEW
     IN_PEER_REVIEW_ACCUMULATING
     IN_QUEUE
     IN_QUEUE_ACCUMULATING
     LOCALLY_ARCHIVED
     LOCALLY_ARCHIVED_ACCUMULATING
     PRE_PEER_REVIEW
     PRE_PEER_REVIEW_ACCUMULATING
     SAFED
     STAGED
     SUPERSEDED
  -lidvid &lt;id&gt;       Update archive status of a document with given lidvid, or
  -packageId &lt;id&gt;    Update archive status of all documents with given package id
Optional parameters:
  -auth &lt;file&gt;       Authentication config file
  -es &lt;url&gt;          Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;      Elasticsearch index name. Default is 'registry'
</source>

<p>
Below are few examples.
</p>
<source>
registry-manager set-archive-status IN_QUEUE -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1
registry-manager set-archive-status ARCHIVED -packageId 8d8ae96d-044e-473d-a278-62635b1c5977
</source>

</subsection>


<!-- ======================================================================= -->

<subsection name="Export File (BLOB)" id="ExportFile">
<p>
To export a file from embedded BLOB storage by lidvid, run <i>export-file</i> command:
</p>

<source>
Usage: registry-manager export-file &lt;options&gt;

Export a file from blob storage

Required parameters:
  -lidvid &lt;id&gt;    Lidvid of a file to export from blob storage
  -file &lt;path&gt;    Output file path
Optional parameters:
  -auth &lt;file&gt;    Authentication config file
  -es &lt;url&gt;       Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;   Elasticsearch index name. Default is 'registry'
</source>

<p>
This command will only work, if file BLOBs were generated by Harvest.
An example is shown below.
</p>
<source>
registry-manager export-file -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1 -file /tmp/4_vesta.xml
</source>

</subsection>

<!-- ======================================================================= -->

</section>

<section name="Data Dictionary Commands" id="DDCommands">

<subsection name="Load Data Dictionary" id="LoadDD">
<p>
To load data dictionary files, use <i>load-dd</i> command:
</p>

<source>
Usage: registry-manager load-dd &lt;options&gt;

Load data dictionary

Required parameters, one of:
  -dd &lt;path&gt;         Standard PDS4 data dictionary file (JSON)
  -dump &lt;path&gt;       Data dump created by 'export-dd' command (NJSON)
  -csv &lt;path&gt;        Custom data dictionary file in CSV format
Optional parameters:
  -auth &lt;file&gt;       Authentication config file
  -es &lt;url&gt;          Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;      Elasticsearch index name. Default is 'registry'
  -ns &lt;namespaces&gt;   Comma separated list of namespaces. Can be used with -dd parameter.
</source>

<p>
This command is described in <a href="reg-custom.html">Registry Customization</a> section.
</p>

</subsection>

<!-- ======================================================================= -->

<subsection name="Delete Data" id="DeleteDD">
<p>
You can delete documents from data dictionary by id or namespace. 
You can also delete all documents.
</p>

<source>
Usage: registry-manager delete-dd &lt;options&gt;

Delete data from data dictionary index

Required parameters, one of:
  -id &lt;id&gt;          Delete data by ID (Full field name)
  -ns &lt;namespace&gt;   Delete data by namespace
  -all              Delete all data
Optional parameters:
  -auth &lt;file&gt;      Authentication config file
  -es &lt;url&gt;         Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;     Elasticsearch index name. Default is 'registry'
</source>

<p>
Below are few examples.
</p>
<source>
registry-manager delete-dd -id proc/Parameter/proc/value
registry-manager delete-dd -ns orex
registry-manager delete-dd -all
</source>

</subsection>

<!-- ======================================================================= -->

<subsection name="Export Data" id="ExportDD">
<p>
You can export all documents from data dictionary.
</p>

<source>
Usage: registry-manager export-dd &lt;options&gt;

Export data from registry data dictionary

Required parameters:
  -file &lt;path&gt;      Output file path
Optional parameters:
  -auth &lt;file&gt;      Authentication config file
  -es &lt;url&gt;         Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;     Elasticsearch index name. Default is 'registry'
</source>

<p>
Example:
</p>
<source>
registry-manager export-dd -file /tmp/my-dd.json
</source>

</subsection>

<!-- ======================================================================= -->

</section>

</body>
</document>
