<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Solr Tools</title>
</properties>

<body>

<section name="Solr Tools">

<subsection name="Solr Admin UI">
<p>
Solr Administration User Interface makes it easy to view Solr configuration details and
cluster status, run queries and update commands. It can be accessed at <i>http://localhost:8983/solr</i>
for local installation.
</p>

<p>
Following external resources provide very detailed documentation:
<ul>
  <li><a href="https://lucene.apache.org/solr/guide/overview-of-the-solr-admin-ui.html" target="_blank">Overview of the Solr Admin UI</a></li>
  <li><a href="https://lucene.apache.org/solr/guide/using-the-solr-administration-user-interface.html" target="_blank">Using the Solr Admin UI</a></li>
</ul>
</p>

</subsection>

<!-- ============================================================= -->

<subsection name="Solr Control Scripts">
<p>
Solr includes several control scripts in <i>SOLR_HOME/bin</i> folder.
</p>

<h4>bin/solr</h4>
<p>
The <i>bin/solr</i> script can perform many common operations. 
You can start and stop Solr, create and delete collections, check status, run different ZooKeeper commands.
</p>
<p>
Detailed documentation is available at <a href="https://lucene.apache.org/solr/guide/solr-control-script-reference.html" target="_blank">Solr website</a>
</p>

<h4>bin/post</h4>
<p>
The <i>bin/post</i> tool can be used to load various types of content into Solr collections.
</p>
<p>
More information is available at <a href="https://lucene.apache.org/solr/guide/post-tool.html" target="_blank">Solr website</a>.
</p>
</subsection>

</section>

</body>
</document>
