<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Supplementer Operation</title>
</properties>

<body>

<section name="Supplementer">

<p>
<ul>
  <li><a href="#Overview">Overview</a></li>
  <li><a href="#load-labels">Load Labels Command</a></li>
  <ul>
    <li><a href="#field-names">Elasticsearch Field Names</a></li>
    <li><a href="#data-types">PDS to Elasticsearch Data Type Mapping</a></li>
    <li><a href="#Limitations">Limitations</a></li>
  </ul>
</ul>
</p>


<subsection name="Overview">

<p>
Supplementer is a command-line tool to load supplemental metadata into PDS Registry.
</p>

<p>
To see a list of Supplementer commands run <i>supplementer</i> without any parameters.
</p>

<p>
To print command-specific usage information, pass <i>-help</i> parameter after any command.
For example, to print usage information for <i>load-labels</i> command, run
</p>

<source>
supplementer load-labels -help 
</source>

<source>
Usage: supplementer load-labels &lt;options&gt;

Load supplemental data from Product_Metadata_Supplemental labels into registry index

Required parameters:
  -file &lt;path&gt;     Either Product_Metadata_Supplemental label file (.xml)
                   or a text file (.txt) with the list of label files
                   (one file path per line).

Optional parameters:
  -auth &lt;file&gt;     Authentication config file
  -es &lt;url&gt;        Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;    Elasticsearch index name. Default is 'registry'
</source>

</subsection>

</section>

<!-- ===================================================== -->

<section name="Supplementer Commands" id="commands">

<subsection name="Load Labels" id="load-labels">
<p>
To load supplemental data from Product_Metadata_Supplemental labels into
Elasticsearch registry index, run <i>load-labels</i> command.
</p>

<source>
Usage: supplementer load-labels &lt;options&gt;

Load supplemental data from Product_Metadata_Supplemental labels into registry index

Required parameters:
  -file &lt;path&gt;     Either Product_Metadata_Supplemental label file (.xml)
                   or a text file (.txt) with the list of label files
                   (one file path per line).

Optional parameters:
  -auth &lt;file&gt;     Authentication config file
  -es &lt;url&gt;        Elasticsearch URL. Default is http://localhost:9200
  -index &lt;name&gt;    Elasticsearch index name. Default is 'registry'
</source>

<h4>
Example 1: Load supplemental data from Product_Metadata_Supplemental label into local registry (Elasticsearch)
</h4>

<source>
supplementer load-labels /home/user1/data/prod_supplemental_1.xml
</source>

<h4>
Example 2: Load supplemental data from a list of Product_Metadata_Supplemental labels 
generated by Harvest
</h4>

<p>
Harvest generates <i>supplemental.txt</i> file with a list of Product_Metadata_Supplemental 
label files in its output directory. 
Content of <i>supplemental.txt</i> file might look like this:
</p>

<source>
/home/user1/data/my_supplemental_label.xml
/home/user1/data/another_supplemental_product.xml
</source>

<p>
To load this list into local registry, run the following command:
</p>

<source>
supplementer load-labels /tmp/harvest/out/supplemental.txt
</source>


<subsection name="Elasticsearch Field Names" id="field-names">
<p>
The following naming convention is used for fields extracted from supplemental data tables:
<b>ops:Supplemental/&lt;Elasticsearch data type&gt;:&lt;data table field name&gt;</b>.
Data table field names are converted to lower case and spaces are replaced with underscores.
For example,
</p>

<source>
ops:Supplemental/keyword:ir_sampling_mode_id
ops:Supplemental/double:center_latitude
ops:Supplemental/double:declination
ops:Supplemental/integer:swath_width
</source>

</subsection>

<subsection name="PDS to Elasticsearch Data Type Mapping" id="data-types">
<p>
Supplemental data tables use PDS data types, such as <i>ASCII_String</i>, <i>ASCII_Date_Time_YMD</i>, <i>ASCII_Real</i>, etc.
PDS data types are mapped to Elasticsearch data types, such as <i>keyword</i>, <i>date</i>, <i>double</i>, etc.
Default mappings are stored in <i>$SUPPLEMENTER_HOME/elastic/data-dic-types.cfg</i> configuration file.
You can modify this file, to add more mappings or change default values.
</p>

<p>
The file has the following format:
</p>
<source>
&lt;PDS data type&gt; = &lt;Elasticsearch data type&gt;
</source>

<p>
For example,
</p>

<source>
pds.ASCII_Integer = integer
pds.ASCII_Boolean = boolean
pds.ASCII_Real = double
pds.ASCII_Short_String_Collapsed = keyword
...
</source>

</subsection>

<subsection name="Limitations" id="limitations">
<p>
Arrays / multi-valued fields are not supported.
</p>
<p>
For example, supplemental data file for Cassini VIMS cubes has the following field definition:
</p>

<source>
&lt;Field_Character&gt;
  &lt;name&gt;SC_PLANET_POSITION_VECTOR&lt;/name&gt;
  &lt;field_number&gt;44&lt;/field_number&gt;
  &lt;field_location unit="byte"&gt;738&lt;/field_location&gt;
  &lt;data_type&gt;ASCII_Real&lt;/data_type&gt;
  &lt;field_length unit="byte"&gt;44&lt;/field_length&gt;
  &lt;description&gt;
    3-valued array. X,Y,Z components of the position
    vector from spacecraft to primary planet center,
    corrected for light-travel time and stellar
    aberration.
  &lt;/description&gt;
&lt;/Field_Character&gt;
</source>

<p>
And contains 3-valued array data:
</p>

<source>
817081698.271,-147434490.181,-90288017.7382
</source>

<p>
If you want to load this data into Elasticsearch you have to use ASCII_String data type instead of ASCII_Real.
In this case 3-valued array will be stored as a single-valued string.
</p>

</subsection>

</subsection>

</section>


</body>
</document>

